<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Hello you are logged in</h1>
    <h1>{{ display_name }}</h1>
    <a href="{{url_for('logout')}}">Logout here</a>
</body>
</html> -->

{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}



<h2>Dashboard</h2>
<br/>
<div class="card">
<div class="card-header">
    <p></p>
    <h5>Welcome {{ current_user.username }}!</h5>
</div>
<div class="card-body">

<p class="card-text">

<div class="container">
<div class="row">
    <div class="col">
        <h5>Personal Tweet Feed</h5><br/>
       {% for item in personaltweetcollate %}
        <div class="card">
            <div class="card-header">
                <p class="card-header"><b>@{{ item["user_handle"] }}</b></p>
                </div>
                <div class="card-body">
                <div class="container">
                    <div class="row">
                        <p class = "card-text"> {{ item["content"] }} </p> <br/>
                        <p class = "card-text"> Likes &hearts;: {{item["likes"]}}</p>
                        <p class = "card-text"> View in &#128038;: {{ item["url"] }} </p> <br/>
                    </div>
                    </div>
                </div>
            </div><br/>
       {% endfor %} 
       <h5>Work Tweet Feed</h5><br/>
       {% for item in worktweetcollate %}
        <div class="card">
            <div class="card-header">
                <p class="card-header"><b>@{{ item["user_handle"] }}</b></p>
                </div>
                <div class="card-body">
                <div class="container">
                    <div class="row">
                        <p class = "card-text"> {{ item["content"] }} </p> <br/>
                        <p class = "card-text"> Likes &hearts;: {{item["likes"]}}</p>
                        <p class = "card-text"> View in &#128038;: {{ item["url"] }} </p> <br/>
                    </div>
                    </div>
                </div>
            </div><br/>
       {% endfor %} 

</p>
    <a href="{{ url_for('settings')}}" class="btn btn-secondary btn-sm">Settings</a>
    <br/>
    <br/>
    <a href="{{ url_for('logout')}}" class="btn btn-secondary btn-sm">Logout</a>
    <br/>

    
	</div>
	</div>
	
{% endblock %}